<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downLoadUrl</key>
		<string>http://120.25.226.186:32812/resources/videos/minion_01.mp4</string>
		<key>desc</key>
		<string>《小黄人大眼萌》是一部2015年的美国喜剧动画电影，该影片由凯尔·巴尔达、皮艾尔·柯芬执导，桑德拉·布洛克、皮艾尔·柯芬、史蒂夫·卡瑞尔配音，由照明娱乐公司和环球影业联合出品。该影片讲述了小黄人的历史以及他们要找到强大的新主人</string>
		<key>imgName</key>
		<string>xiaohuangren</string>
		<key>name</key>
		<string>小黄人大眼萌</string>
	</dict>
	<dict>
		<key>downLoadUrl</key>
		<string>http://v.meituan.net/movie/videos/4cfaab2ed5fa48819ef0e2dea6fb16ec.mp4</string>
		<key>desc</key>
		<string>《功夫熊猫3》是《功夫熊猫》系列的第三部电影，由余仁英执导，杰克·布莱克、凯特·哈德森、布莱恩·科兰斯顿原版配音主演，黄磊、杨幂、成龙、周杰伦、朱珠担任中文版配音，该片将于2016年1月29日在中国和北美地区首映</string>
		<key>imgName</key>
		<string>gongfuxiongmao</string>
		<key>name</key>
		<string>功夫熊猫3</string>
	</dict>
	<dict>
		<key>downLoadUrl</key>
		<string>http://v.meituan.net/movie/videos/ac8a1828ae5347f98bcc77f2e4b608aa.mp4</string>
		<key>desc</key>
		<string>《蒸发太平洋》是由北京星美影视发行有限公司发行的动作科幻片，由周文武贝自编自导，布兰登·罗斯、张雨绮领衔主演。影片于2016年1月29日在中国大陆上映。影片围绕一架2020年首航的A390豪华客机展开</string>
		<key>imgName</key>
		<string>taipingyang</string>
		<key>name</key>
		<string>蒸发太平洋</string>
	</dict>
	<dict>
		<key>downLoadUrl</key>
		<string>http://v.meituan.net/movie/videos/df8324f83eb3472291036487d8a76a8c.mp4</string>
		<key>desc</key>
		<string>《星球大战：原力觉醒》（Star Wars: The Force Awakens）是科幻电影《星球大战》系列的第七部，由J·J·艾布拉姆斯执导，黛茜·雷德利、约翰·波耶加、哈里森·福特、奥斯卡·伊萨克联合主演。影片故事设定在《星球大战6：绝地归来》中恩多战役之后的31年，银河系出现了两个对立的新政权：</string>
		<key>imgName</key>
		<string>yuanlijuexing</string>
		<key>name</key>
		<string>星球大战：原力觉醒</string>
	</dict>
	<dict>
		<key>downLoadUrl</key>
		<string>http://v.meituan.net/movie/videos/80fcdfa6524b4477a2b72f581671cb0d.mp4</string>
		<key>desc</key>
		<string>该片由郑保瑞主导，郭富城、巩俐、冯绍峰、小沈阳、罗仲谦领衔主演。影片将于2016年2月8日在中国大陆上映。影片讲述了师徒四人在西行的路上，白骨精为夺唐僧而巧设圈套，被孙悟空识破，屡次受挫</string>
		<key>imgName</key>
		<string>sandabaigujing</string>
		<key>name</key>
		<string>西游记之孙悟空三打白骨精</string>
	</dict>
	<dict>
		<key>downLoadUrl</key>
		<string>http://v.meituan.net/movie/videos/a97c97ab32c64211b2febb4a62262163.mp4</string>
		<key>desc</key>
		<string>《蒸发太平洋》是由北京星美影视发行有限公司发行的动作科幻片，由周文武贝自编自导，布兰登·罗斯、张雨绮领衔主演。影片于2016年1月29日在中国大陆上映。影片围绕一架2020年首航的A390豪华客机展开</string>
		<key>imgName</key>
		<string>xiongchumo</string>
		<key>name</key>
		<string>熊出没之熊心归来</string>
	</dict>
	<dict>
		<key>downLoadUrl</key>
		<string>http://v.meituan.net/movie/videos/330c91e92dc040f5ad7122cd3d56aa0c.mp4</string>
		<key>desc</key>
		<string>《最后的巫师猎人》是由美国顶峰娱乐影业、狮门影业联合出品的奇幻动作片，中国电影集团公司进口，中国电影股份有限公司发行，由布瑞克·埃斯纳尔执导，范·迪塞尔、萝斯·莱斯利、伊利亚·伍德领衔主演。该片讲述了一位巫师猎人卡尔德与一名克洛伊的女子，在纽约城对抗复活的邪恶巫师之王拯救世界的故.</string>
		<key>imgName</key>
		<string>lieren</string>
		<key>name</key>
		<string>最后的巫师猎人</string>
	</dict>
</array>
</plist>
